<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Customers</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                <tr>
                  <th>Date</th>
                  <th>Company</th>
                  <th>Manager Name</th>
                  <th>Manager SurName</th>
                  
                  <th>Company Web Adress</th>
                  <th>Company Adress</th>
                  <th>Company Business Area</th>
                  <th>Manager Email</th>
                  <th>Phone Number</th>
               
                  <th>Lisence Term</th>
                  <th>Lisence End Date</th>
                  <th>Purschase Price</th>
                  <th>Customer Note</th>
                  <th>Product</th>
                  <th>Product Version</th>
                </tr>
                </thead>
                
            <tbody>
<tr *ngFor= "let customer of customers" >
    <td>{{ customer.purchaseDate }}</td>
    <td>{{ customer.customerCompanyName }}</td>
    <td>{{ customer.executiveName }}</td>
    <td>{{ customer.executiveSurname }}</td>
    <td>{{ customer.companyWebAdress }}</td>
    <td>{{ customer.customerCompanyAdress }}</td>
    <td>{{ customer.companyBusinessArea }}</td>
    <td>{{ customer.executivePhoneNumber }}</td>
    <td>{{ customer.executiveEmail }}</td>
    <td>{{ customer.licenseTerm }}</td>
    <td>{{ customer.lisenceEndDate  }}</td>
    <td>{{ customer.purchasePrice  }}</td>
    <td>{{ customer.customerNote  }}</td>
    <td>{{ customer.productId }}</td>
    <td>{{ customer.productVersion }}</td>
  </tr>
</tbody>
