
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4  class="card-title ">Customers</h4>
                      
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Company Name
                                  </th>
                                  <th>
                                      Company Adress
                                  </th>
                                  <th>
                                     Company Web Adress
                                  </th>
                                  <th>
                                      Manager Name
                                  </th>
                                  <th>
                                    Manager Surname
                                </th>
                                <th>
                                    Manager Phone Number
                                </th>
                                <th>
                                    Manager Email
                                </th>
                                <th>
                                   Product
                                </th>
                                <th>
                                    Salt
                                </th>

                              </thead>
                      
              
        
         
                              
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      
 

