
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4  class="card-title ">Future Meetings</h4>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                       Meeting Title
                                    </th>
                                    <th>
                                       Meeting Subject
                                    </th>
                                    <th>
                                       Participants
                                    </th>
                                  <th>
                                     Product
                                  </th>
                                  <th>
                                      Note
                                  </th>
                                  <th>
                                    Meeting Result
                                  </th>
 
                                </thead>
                        
                
          
           
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        
   
  
  