<div class="main-content">
  <div class="container-fluid">
    
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Finished Meetings</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th></th>
                  <th>Date</th>
                  <th>Meeting Title</th>
                  <th>Meeting Subject</th>
                  <th>Meeting Result</th>
                  <th>Company Name</th>
                  <th>Executive Name</th>
                  <th>Executive Phone Number</th>
                  
                </tr>
                </thead>   
<tbody>

     

         
          <tr *ngFor= "let finishedMeeting of finishedMeeting" >
            <td>{{ finishedMeeting.date }}</td>
            <td>{{ finishedMeeting.customerInformation }}</td>
            <td>{{ finishedMeeting.participants }}</td>
            <td>{{ finishedMeeting.meetingSubject }}</td>
            <td>{{ finishedMeeting.meetingResult  }}</td>
            <td>{{ finishedMeeting.meetingTitle }}</td>
            <td>{{ finishedmeeting.companyName }}</td>
            <td>{{ finishedMeeting.companyAdress }}</td>
            <td>{{ finishedMeeting.companyBusinessArea }}</td>
            <td>{{ finishedMeeting.companyWebAdress }}</td>
            <td>{{ finishedMeeting.executiveName }}</td>
            <td>{{ finishedMeeting.executivePhoneNumber }}</td>
            <td>{{ finishedMeeting.executiveEmail }}</td>
      

    
    
  </tr>
</tbody>