<div class="main-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Curious Customers</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                <th>Date</th>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone Number</th>
                <th>E Mail</th>
                <th>Title</th>
                <th>Company</th>
                <th>Adress</th>
                <th>Note</th>
                
              </tr>
              </thead>
           
   
  <tbody>
    <tr *ngFor= "let curiouscustomer of curiousCustomers" >
      <td>{{ curiouscustomer.dateOfUpload}}</td>
      <td>{{ curiouscustomer.id }}</td>
      <td>{{ curiouscustomer.curiousCustomerName }}</td>
      <td>{{ curiouscustomer.curiousCustomerSurname }}</td>
      <td>{{ curiouscustomer.phoneNumber  }}</td>
      <td>{{ curiouscustomer.email }}</td>
      <td>{{ curiouscustomer.adress }}</td>
      <td>{{ curiouscustomer.company }}</td>
      <td>{{ curiouscustomer.position }}</td>
      <td>{{ curiouscustomer.note }}</td>
     
     
    </tr>
  </tbody>

