<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Curious Customers</h4>
          </div>

          <div class="content" role="main">
            <div class="card">
              <div class="form-group">
                <label for="search-text">Search Text</label>
                <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
                  [(ngModel)]="searchText" placeholder="Enter text to search" 
                  autofocus>
              </div>
              <ul class="list-group list-group-flush">

                <li class="list-group-item"  *ngFor="let c of characters | curiouscustomer: searchText ">
                  {{c}}
                </li>
              </ul>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Manager Name</th>
                    <th>Manager Surname</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Company Name</th>
                    <th>Position</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let curiouscustomer of curiousCustomers  | curiouscustomer: searchText  ">
                    <button
                      type="button"
                      class="btn btn-dark"
                      data-toggle="modal"
                      data-target=".bd-example-modal-lg"
                      (click)="getByCuriousCustomer(curiouscustomer.id)"
                    >
                      Details
                    </button>
          

                    <td>{{ curiouscustomer.dateOfUpload }}</td>
                    <td>{{ curiouscustomer.curiousCustomerName }}</td>
                    <td>{{ curiouscustomer.curiousCustomerSurname }}</td>
                    <td>{{ curiouscustomer.phoneNumber }}</td>
                    <td>{{ curiouscustomer.email }}</td>
                    <td>{{ curiouscustomer.company }}</td>
                    <td>{{ curiouscustomer.position }}</td>
                    <td> <button type="button" id="update" class="btn btn-info" routerLink="/curiouscustomer-update/{{curiouscustomer.id}}"
                      >EDIT</button></td>
                      <td><button type="button" id="delete" (click)="deleteCuriousCustomer(curiouscustomer.id)" class="btn btn-danger" 
                     >delete</button> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"

>
<div
  class="modal-dialog modal-lg"
  modal-lg
  role="document"
>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title" id="exampleModalLabel">
       Curious Customer
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <tr>
      <div class="modal-body"  *ngIf="isCuriousCustomerLoad">
        <tr>
          <th>Date</th>
          <td>{{ curiousCustomer.dateOfUpload }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ curiousCustomer.curiousCustomerName }}</td>
        </tr>

        <tr>
          <th>Surname</th>
          <td>{{ curiousCustomer.curiousCustomerSurname }}</td>
        </tr>
     
        <tr>
          <th>Company Adress</th>
          <td>{{ curiousCustomer.adress }}</td>
        </tr>
        <tr>
          <th>Company</th>
          <p>{{ curiousCustomer.company }}</p>
        </tr>
        <tr>
          <th>Email</th>
          <td><a href="mailto:{{ curiousCustomer.email }}">{{ curiousCustomer.email }}</a></td>
        </tr>
        <tr>
          <th>Phone Number</th>
          <td><a href="tel:{{ curiousCustomer.phoneNumber }}">{{ curiousCustomer.phoneNumber }}</a></td>
        </tr>
        <tr>
          <th>Title</th>
          <p>{{ curiousCustomer.position }}</p>
        </tr>
      
        <tr>
          <th>Note</th>
          <p>{{ curiousCustomer.note }}</p>
        </tr>
       
       
      </div>


  
 
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          style="background-color: red"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </tr>
  </div>
</div>
</div>
