<div class="main-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header card-header-danger">
          
          <h4 class="card-title">Curious Customers</h4>
        </div>
        <div class="card-body">
         
          <div class="table-responsive">
            <table class="table">
              
              <thead class="text-primary">
                <tr>
                  <th></th>
                <th>Date</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone Number</th>
                <th>E Mail</th>
                <th >Company</th>
                <th>Title</th>
              
              </tr>
              
              </thead>
              
  <tbody>
    
    <tr *ngFor= "let curiouscustomer  of curiousCustomers" >
      <button type="button"   class="btn btn-dark" data-toggle="modal" data-target=".bd-example-modal-lg">
       Details
      </button>
      <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" modal-lg role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h5 class="modal-title" id="exampleModalLabel">Curious Customer</h5>
              <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <tr *ngFor= "let curiouscustomer of curiousCustomers" >
            <div class="modal-body">
              <tr>
                <th>Date</th> 
                <td>{{ curiouscustomer.dateOfUpload}}</td>
              </tr>
              <tr>
                <th>Name</th>
                <td>{{ curiouscustomer.curiousCustomerName }}</td>
              </tr>

              <tr>
                <th>Surname</th>
                <td>{{ curiouscustomer.curiousCustomerSurname }}</td>
              </tr>
              <tr>
                <th>Phone Number</th>
                <td>{{ curiouscustomer.phoneNumber  }}</td>
              </tr>
              <tr>
                <th>E Mail</th>
                <td>{{ curiouscustomer.email }}</td>
                
              </tr>
              <tr>
                <th >Adress</th>
                <p >{{ curiouscustomer.adress }}</p>
              </tr>
              <tr>
                <th>Company</th>
                <td>{{ curiouscustomer.company }}</td>
              </tr>
              <tr>
                <th>Title</th>
                <td>{{ curiouscustomer.position }}</td>
              </tr>
              <tr>
                <th>Note</th>  
                <p>{{ curiouscustomer.note }}</p>
              </tr>
       

            </div>
          
         
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" style="background-color:red" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>

      
      <td> {{ curiouscustomer.dateOfUpload}}</td> 
      <td>{{ curiouscustomer.curiousCustomerName }}</td>
      <td>{{ curiouscustomer.curiousCustomerSurname }}</td>
      <td>{{ curiouscustomer.phoneNumber  }}</td>
      <td>{{ curiouscustomer.email }}</td>
      <td >{{ curiouscustomer.company }}</td>
      <td>{{ curiouscustomer.position }}</td>
      
     
     
    </tr>
    
  </tbody>

  <!-- {{ curiouscustomer.dateOfUpload}} -->
