

<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Future Meeting Add</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="scheduledMeetingAddForm">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input id="meetingTitle"
                      class="form-control"
                      formControlName="meetingTitle"
                      matInput placeholder="Meeting Title" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-7">
                    <mat-form-field class="example-full-width">
                      <input id="meetingSubject"
                      class="form-control"
                      formControlName="meetingSubject"
                       matInput placeholder="Meeting Subject" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <input id="meetingDate"
                      class="form-control"
                      formControlName="meetingDate"
                      matInput placeholder="Meeting Date" type="date" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input id="participants"
                      class="form-control"
                      formControlName="participants"
                      matInput placeholder="Participants" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input id="meetingResult"
                      class="form-control"
                      formControlName="meetingResult"
                       matInput placeholder="Meeting Result" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input id="companyBusinessArea"
                      class="form-control"
                      formControlName="companyBusinessArea"
                        matInput
                        placeholder="Company Business Area"
                        type="text"
                      />
                    </mat-form-field>
                  </div>
               
               
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input id="customerInformation"
                      class="form-control"
                      formControlName="customerInformation"
                       matInput placeholder="Customer Information" type="text" />
                    </mat-form-field>


                  </div>
                </div>
                  <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input id="companyName"
                      class="form-control"
                      formControlName="companyName"
                        matInput
                        placeholder="Company Name"
                        type="text"
                      />
                    </mat-form-field>
                  </div>
                  
  

              
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input id="companyAdress"
                      class="form-control"
                      formControlName="companyAdress"
                       matInput placeholder="Company Adress" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input id="companyWebAdress"
                      class="form-control"
                      formControlName="companyWebAdress"
                        matInput
                        placeholder="Company Web Adress"
                        type="text"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input id="executiveName"
                      class="form-control"
                      formControlName="executiveName"
                       matInput placeholder="Executive Name" type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input id="executivePhoneNumber"
                      class="form-control"
                      formControlName="executivePhoneNumber"
                        matInput
                        placeholder="Executive Phone Number"
                        type="text"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input id="executiveEmail"
                      class="form-control"
                      formControlName="executiveEmail"
                       matInput placeholder="Executive Email" type="text" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
             
                
               
   </div>
                <button
                  mat-raised-button
                  type="button"  click= " scheduledMeetingAdd() "
                  class="btn btn-danger pull-right"
                >
                  Save
                </button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  
  
