
      <!-- Katılımcı bilgilerini genişlet  -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Future Meetings</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                
                  <th>Date</th>
                  <th>Meeting Title</th>
                  <th>Meeting Subject</th>
                  <th>Participants</th>
                  <th>Customer Information</th>
                  <th>Meeting Result</th>
                </tr>
                </thead>
                <tbody>
   
<tr *ngFor= "let scheduledmeeting of scheduledMeetings" >
     <td>{{ scheduledmeeting.meetingDate }}</td>
     <td>{{ scheduledmeeting.meetingTitle }}</td>
     <td>{{ scheduledmeeting.meetingSubject }}</td>
    <td>{{ scheduledmeeting.participants }}</td>
    <td>{{ scheduledmeeting.customerInformation }}</td> 
    <td>{{ scheduledmeeting.meetingResult  }}</td>
   
    <td>{{ scheduledmeeting.companyName }}</td>
    <td>{{ scheduledmeeting.companyAdress }}</td>
    <td>{{ scheduledmeeting.companyBusinessArea }}</td>
    <td>{{ scheduledmeeting.companyWebAdress }}</td>
    <td>{{ scheduledmeeting.executiveName }}</td>
    <td>{{ scheduledmeeting.executivePhoneNumber }}</td>
    <td>{{ scheduledmeeting.executiveEmail }}</td>
  </tr>
</tbody>



