<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Investor Relation</h4>
          </div>

          <div class="content" role="main">
            <div class="card">
              <div class="form-group">
                <label for="search-text">Search Text</label>
                <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
                  [(ngModel)]="searchText" placeholder="Enter text to search" 
                  autofocus>
              </div>
              <ul class="list-group list-group-flush">

                <li class="list-group-item"  *ngFor="let c of characters | investmentrelation: searchText ">
                  {{c}}
                </li>
              </ul>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Company</th>
                    <th>Position</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let investorrelation of invesmentRelations  | investmentrelation: searchText  ">
                    <button
                      type="button"
                      class="btn btn-dark"
                      data-toggle="modal"
                      data-target=".bd-example-modal-lg"
                      (click)="getByInvestmentRelation(investorrelation.id)"
                    >
                      Details
                    </button>
          
                    <td>{{ investorrelation.dateOfUpload }}</td>
                    <td>{{ investorrelation.investorName }}</td>
                    <td>{{ investorrelation.investorSurname }}</td>
                    <td>{{ investorrelation.company }}</td>
                    <td>{{ investorrelation.position }}</td>
                   
                  </tr>
              
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div
  class="modal-dialog modal-lg"
  modal-lg
  role="document"
>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title" id="exampleModalLabel">
        Investor Relations
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <tr >
      <div class="modal-body" *ngIf="isInvestorRelationLoad" >
        <tr>
          <th>Date</th>
          <td>{{ investmentRelation.dateOfUpload }}</td>
        </tr>
        <tr>
          <th>Company</th>
          <td>{{ investmentRelation.investorName }}</td>
        </tr>

        <tr>
          <th>Manager Name</th>
          <td>{{ investmentRelation.investorSurname }}</td>
        </tr>
      
      
        <tr>
          <th>Email</th>
          <td><a href="mailto:{{ investmentRelation.email }}">{{ investmentRelation.email }}</a></td>
        </tr>
        <tr>
          <th>Phone Number</th>
          <td><a href="tel:{{ investmentRelation.phoneNumber }}">{{ investmentRelation.phoneNumber }}</a></td>
        </tr>
        <tr>
          <th>Company</th>
          <p>{{ investmentRelation.company }}</p>
        </tr>
        <tr>
          <th>Title</th>
          <p>{{ investmentRelation.position }}</p>
        </tr>
        <tr>
          <th>Note</th>
          <p>{{ investmentRelation.note }}</p>
        </tr>
      
      </div>


  
 
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          style="background-color: red"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </tr>
  </div>
</div>
</div>
