<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Investment Relations</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
              <th>Date</th>
              <th>ID</th>
              <th>Name</th>
              <th>Surname</th>
              <th>Phone Number</th>
              <th>E Mail</th>
              <th>Company</th>
              <th>Adress</th>
              <th>Note</th>
              
            </tr>
          </thead>
          <tbody>
<tr *ngFor= "let investorrelation of invesmentRelations" >
  <td>{{ investorrelation.id}}</td>
  <td>{{ investorrelation.investorName }}</td>
  <td>{{ investorrelation.investorSurname }}</td>
  <td>{{ investorrelation.phoneNumber }}</td>
  <td>{{ investorrelation.email  }}</td>
  <td>{{ investorrelation.adress }}</td>
  <td>{{ investorrelation.company }}</td>
  <td>{{ investorrelation.position }}</td>
  <td>{{ investorrelation.note }}</td>
  <td>{{ investorrelation.dateOfUpload }}</td>

</tr>
</tbody>
