<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Investment Relations</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>Date</th>
              <th>ID</th>
              <th>Name</th>
              <th>Surname</th>
              <th>Phone Number</th>
              <th>E Mail</th>
              <th>Company</th>
              <th>Adress</th>
              <th>Note</th>
              
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
