<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Routine Services</h4>
          </div>

          <div class="content" role="main">
            <div class="card">
              <div class="form-group">
                <label for="search-text">Search Text</label>
                <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
                  [(ngModel)]="searchText" placeholder="Enter text to search" 
                  autofocus>
              </div>
              <ul class="list-group list-group-flush">

                <li class="list-group-item"  *ngFor="let c of characters | routineservice: searchText ">
                  {{c}}
                </li>
              </ul>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Manager Name</th>
                    <th>Manager Surname</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Company Name</th>
                    <th>Position</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let routineServices of routineServices  | routineservice: searchText  ">
                    <button
                      type="button"
                      class="btn btn-dark"
                      data-toggle="modal"
                      data-target=".bd-example-modal-lg"
                      (click)="getByRoutineService(routineServices.id)"
                    >
                      Details
                    </button>
          

                    <td>{{ routineServices.routineServiceDate }}</td>
                    <td>{{ routineServices.routineServiceTime  }}</td>
                    <td>{{ routineServices.productId }}</td>
                    <td>{{ routineServices.routineServiceDescription }}</td>
                    <td>{{ routineServices.customerName }}</td>
                    <td>{{ routineServices.officer }}</td>
                    <td>{{ routineServices.personSurname }}</td>
                    <td> <button type="button" id="update" class="btn btn-info" routerLink="/routineservice-update/{{routineServices.id}}"
                      >EDIT</button></td>
                      <td><button type="button" id="delete" (click)="deleteRoutineService(routineServices.id)" class="btn btn-danger" 
                     >delete</button> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"

>
<div
  class="modal-dialog modal-lg"
  modal-lg
  role="document"
>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title" id="exampleModalLabel">
       Routine Service
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <tr>
      <div class="modal-body" *ngIf="isRoutineServiceLoad" >
        <tr>
          <th>Date</th>
          <td>{{ routineService.routineServiceDate }}</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>{{ routineService.routineServiceTime }}</td>
        </tr>

        <tr>
          <th>Product</th>
          <td>{{ routineService.productId }}</td>
        </tr>
     
        <tr>
          <th>Routine Service Description</th>
          <td>{{ routineService.routineServiceDescription }}</td>
        </tr>
        <tr>
          <th>Customer Name</th>
          <p>{{ routineService.customerName }}</p>
        </tr>
    
        <tr>
          <th>Person Name</th>
          <p>{{ routineService.officer }}</p>
        </tr>
      
        <tr>
          <th>Person Surname</th>
          <p>{{ routineService.personSurname }}</p>
        </tr>
       
       
      </div>


  
 
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          style="background-color: red"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </tr>
  </div>
</div>
</div>
