<div class="main-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Routine Service</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Product</th>
                <th> Routine Service Description</th>
                <th>Person</th>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  