<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Abroad Investment Relations</h4>
          </div>

          <div class="content" role="main">
            <div class="card">
              <div class="form-group">
                <label for="search-text">Search Text</label>
                <input
                  type="text"
                  class="form-control"
                  id="search-text"
                  aria-describedby="search-text"
                  [(ngModel)]="searchText"
                  placeholder="Enter text to search"
                  autofocus
                />
              </div>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item"
                  *ngFor="
                    let abdroadinvestment of characters
                      | abdroadinvestment: searchText
                  "
                >
                  {{ abroadInvestments }}
                </li>
              </ul>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th></th>
                    <th>Date</th>
                  <th>Name</th>
                  <th>Surname</th>
                  <th>Phone Number</th>
                  <th>E Mail</th>
                  <th>Company</th>
                  <th>Adress</th>
                  <th>Note</th>
                  <th>Country</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="
                      let abroadInvestments of abroadInvestments | abdroadinvestment: searchText
                    "
                  >
                    <button
                      type="button"
                      class="btn btn-dark"
                      data-toggle="modal"
                      data-target=".bd-example-modal-lg"
                      (click)=" getByAbroadInvestmentRelation(abroadInvestments.id)"
                    >
                      Details
                    </button>

                    <td>{{ abroadInvestments.dateOfUpload }}</td>
                    <td>{{ abroadInvestments.abroadInvestorName }}</td>
                    <td>{{ abroadInvestments.abroadInvestorSurname }}</td>
                    <td>{{ abroadInvestments.phoneNumber  }}</td>
                    <td>{{ abroadInvestments.email }}</td>
                    <td>{{ abroadInvestments.company }}</td>
                    <td>{{ abroadInvestments.adress }}</td>
                    <td>{{ abroadInvestments.note }}</td>
                    <td>{{ abroadInvestments.country }}</td>
                    <td> <button type="button" id="update" class="btn btn-info" routerLink="/abroadinvestment-update/{{abroadInvestments.id}}"
                      >EDIT</button></td>
                      <td><button type="button" id="delete" (click)="deleteAbroadInvestment(abroadInvestments.id)" class="btn btn-danger" 
                     >delete</button> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade bd-example-modal-lg"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" modal-lg role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title" id="exampleModalLabel">
          Abroad Investment Relations
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <tr>
        <div class="modal-body" *ngIf="isAbroadInvestmentLoad">
          <tr>
            <th>Date</th>
            <td>{{ abroadInvestment.dateOfUpload }}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{ abroadInvestment.abroadInvestorName }}</td>
          </tr>

          <tr>
            <th>Surname</th>
            <td>{{ abroadInvestment.abroadInvestorName }}</td>
          </tr>

          <tr>
            <th>Company Adress</th>
            <td>{{ abroadInvestment.adress }}</td>
          </tr>
          <tr>
            <th>Company</th>
            <p>{{ abroadInvestment.company }}</p>
          </tr>
          <tr>
            <th>Email</th>
            <td>
              <a href="mailto:{{ abroadInvestment.email }}">{{
                abroadInvestment.email
              }}</a>
            </td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td>
              <a href="tel:{{ abroadInvestment.phoneNumber }}">{{
                abroadInvestment.phoneNumber
              }}</a>
            </td>
          </tr>
          <tr>
            <th>Title</th>
            <p>{{ abroadInvestment.position }}</p>
          </tr>

          <tr>
            <th>Note</th>
            <p>{{ abroadInvestment.note }}</p>
          </tr>
          <tr>
            <th>Country</th>
            <p>{{ abroadInvestment.country }}</p>
          </tr>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            style="background-color: red"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </tr>
    </div>
  </div>
</div>
