
<div class="main-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Abroad Investment Relations</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table  class="table">
              <thead  class="text-primary">
                <tr>
                <th>Date</th>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone Number</th>
                <th>E Mail</th>
                <th>Company</th>
                <th>Adress</th>
                <th>Note</th>
                <th>Country</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor= "let abroadInvestments of abroadInvestments" >
                  <td>{{ abroadInvestments.id }}</td>
                  <td>{{ abroadInvestments.abroadInvestorName }}</td>
                  <td>{{ abroadInvestments.abroadInvestorSurname }}</td>
                  <td>{{ abroadInvestments.phoneNumber  }}</td>
                  <td>{{ abroadInvestments.email }}</td>
                  <td>{{ abroadInvestments.company }}</td>
                  <td>{{ abroadInvestments.position }}</td>
                  <td>{{ abroadInvestments.note }}</td>
                  <td>{{ abroadInvestments.dateOfUpload }}</td>
                  <td>{{ abroadInvestments.country }}</td>
                  <td>{{ abroadInvestments.adress }}</td>
                 
                </tr>
              </tbody>
        
        
     
    
  
  
